<!DOCTYPE html>
<html lang="en">
<style>
    body {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>{{title}}</h2>
    <form action="addnumbers">
        <input type="submit" value="Want to add 2 numbers?" class="btn btn-default"/>
    </form>
</body>
<footer>
    <h6>{{datetime_now}}</h6>
</footer>


</html>
